@font-face {
   font-family: 'Indie Flower';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/jaskiratjosan/Documents/GitHub/SanaKhan1997.github.io/mobirise/fonts/Indie Flower/regular.ttf') format('truetype');
}
